/* Header styling */

.header {
    display: flex;
    
    justify-content: space-between;
}

/* End of Header styling */

/* Characters comp styling */

.characters {
    text-align: center;
}

/* End of Characters comp styling */