li {
  list-style: none;
}

/* Header styling */

.header {
  display: flex;

  justify-content: space-between;
}

#nav-logo {
  height: 8em;
}

/* End of Header styling */

/* Characters comp styling */

.characters {
  text-align: center;
}

.character-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.cards {
  height: auto;
  width: 20em;
  margin: 0.5em 0.5em;
}

/* .images {  
  max-height: auto;
  max-width: 50em;
} */

/* End of Characters comp styling */

/* Home component styling */
.welcome-message {
  text-align: center;
  border: 1px solid black;

}

/* End of Home component styling */
